@model Student

<h1>Edit Student</h1>
<div class="container border-1">
    <form method="post" class="d-flex flex-column" enctype="multipart/form-data">
        <input asp-for="ImageUrl" hidden />
        <input asp-for="Id" hidden />
        <label>student name</label>
        <input type="text" asp-for="Name" class="form-control w-50" />

        <label>email</label>
        <input type="text" asp-for="Email" class="form-control w-50" />

        <label>phone number</label>
        <input type="text" asp-for="Phone" class="form-control w-50" />

        <label>Group</label>
        <input type="text" asp-for="GroupId" class="form-control w-50" />

        <label>ImageUrl</label>
        <input type="file" name="file" class="form-control w-50" />

        <button type="submit" class="bg-primary mt-2 w-50 border-0 text-light">Edit</button>


    </form>
</div>